* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: black;
}

.main {
    background-image: url("assests/images/bg.jpg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 650px;
    position: relative;
}

.main .box {
    height: 650px;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    align-items: center;
    max-width: 70vw;
    margin: auto;
    justify-content: space-between;
    height: 90px;
}

nav img {
    width: 135px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.content {
    height: calc(100% - 90px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    z-index: 10;
    gap: 8px;
    padding: 0px 30px;
}

.content> :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
}

.content> :nth-child(2) {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.content> :nth-child(3) {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.separation {
    height: 7px;
    background-color: rgb(45, 45, 45);
    position: relative;
    z-index: 11;
}

.btn {
    padding: 7px 8px;
    background-color: white;
    border: 1px solid rgba(228, 218, 218, 0.5);
    border-radius: 4px;
    background-color: rgba(25, 25, 25, 0.7);
    color: white;
    cursor: pointer;
}

.btn-red-sm {
    background-color: red;
    color: white;
    border: 1px solid black;
    border-radius: 4px;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 7px 18px;
    font-size: 20px;
    border-radius: 4px;
    border: 1px solid black;
    font-weight: 300;
}

.main input {
    padding: 10px 116px 10px 14px;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(24, 24, 24, 0.7);
    border: 1px solid rgba(228, 218, 218, 0.5);
    color: white;
}

.main-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.first {
    display: flex;
    justify-content: center;
    max-width: 80vw;
    margin: auto;
    color: white;
    align-items: center;

}

.secImg {
    position: relative;
}

.secImg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 51px;
    right: 0;
    width: 555px;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;

}

section.first>div :nth-child(1) {
    font-size: 39px;
    font-weight: bolder;
}

section.first>div :nth-child(2) {
    font-size: 24px;
    font-weight: bolder;
}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faq {
    color: white;
    background-color: black;
    padding: 34px;
}

.faqbox:hover {
    background-color: #414141;
    color: white;
}

.faqbox {
    transition: all 1s ease-out;
    font-size: 24px;
    background-color: #2d2d2d;
    display: flex;
    padding: 24px;
    max-width: 67vw;
    margin: 20px auto;
    justify-content: space-between;
    cursor: pointer;
}

footer {
    color: rgb(184, 178, 178);
    max-width: 80vw;
    margin: auto;
    padding: 30px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

footer .question {
    padding: 34px 0px;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.footer a {
    font-size: 14px;
    color: rgb(184, 178, 178);
}

@media screen and (max-width: 1270px) {
    nav {
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 300px;
    }

    .secImg video {
        width: 300px;
    }

    .content> :nth-child(1) {
        font-size: 32px;
    }

    .content> :nth-child(2) {
        font-size: 18px;
    }

    .content> :nth-child(3) {
        font-size: 18px;
    }

    .main-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
    }

    .footer-item {
        align-items: center;
    }
}

@media screen and (max-width: 1270px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
}